# Node dependencies
node_modules/

# VSCode settings
.vscode/

# Maven build folder
target/

# OS files (optional)
.DS_Store

#User and Password
backend/src/main/resources/application.properties

# Environment variables files
.env
frontend/.env.local
frontend/.env.production