# Node dependencies
node_modules/

# VSCode settings
.vscode/

# Maven build folder
target/

# OS files (optional)
.DS_Store

# Environment variables files
.env
frontend/.env/local
frontend/.env/production